@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-family: var(--fonte1);
    font-size: 7vw;
    text-transform: uppercase;
}

header p {
    padding-bottom: 50px;
    font-family: var(--fonte-padrao);
}

header a {
    text-decoration: underline;
    color: #ffffff;
    font-weight: bolder;
}

header a:hover {
    color: #cecaca;
}

.sessoes {
    padding: 40px;
}

.sessoes p {
    font-family: var(--fonte2);
    font-size: 2vw;
}

#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.sessoes p {
    background-color: #0000006e;
    max-width: 28vw;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.simg p {
    background-color: transparent;
    color: #000000;
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: underline;
    color: #ffffff;
    font-weight: bolder;
}

footer a:hover {
    color: #cecaca;
}